.default_header {
    margin-bottom: 1rem;
}

.interactive {
    cursor: pointer;
}

.block .btn {
    display: block;
    width: 100%;
}

.btn { text-decoration: none !important; }

.asc::after { content: ' ▼'; }
.desc::after { content: ' ▲'; }

@media (max-width: 992px) {
    .monster-row {
        margin-bottom: 20px;
    }
}

.btn-margin-right {
    margin-right: 1em;
}