@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css');

@import url('https://fonts.googleapis.com/css?family=Tinos:700');
.font-tinos-700, h1, h2, h3, h4, h5 {
    font-family: 'Tinos';
    font-weight: 700;
}

body { background: #fafafa; }

.default_header {
    margin-bottom: 1rem;
}

.block .btn {
    display: block;
    width: 100%;
}

.btn { text-decoration: none !important; }

.asc::after { content: ' ▼'; }
.desc::after { content: ' ▲'; }

.monster-row .border {
    background-color: #fff;
}
.header-row, .header-row .btn {
    font-weight: bold;
    font-size: 1.01em;
}
@media (max-width: 992px) {
    .monster-row {
        margin-bottom: 20px;
    }
}

.monster-name {
    font-weight: 500;
}

.btn-margin-right {
    margin-right: 1em;
}

.page-item {
    min-width: 44px;
    text-align: center;
}

.pagination-nav {

}

.pagination-nav .btn {
    width: 120px;
}
